<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="layout::head"/>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div class="container-fluid">
        <div class="d-flex">
            <div class="d-flex ">
                <ol>
                    <li>消费</li>
                    <li>收入</li>
                    <li>投资</li>
                </ol>
            </div>
            <div class="d-flex ">
                <ol>
                    <li>2019</li>
                    <li>2018</li>
                    <li>2017</li>
                </ol>
            </div>
            <div class="d-flex ">
                <ol>
                    <li>2019</li>
                    <li>2018</li>
                    <li>2017</li>
                </ol>
            </div>
            <div>
                <table>

                </table>
            </div>
        </div>
    </div>


</body>
</html>