<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="layout::head"/>
    <title>账本</title>
</head>
<body>

<div class="container">
    <th:block th:include="funds/layout::nav(${current},${monthCastList})">
    </th:block>
    <div class="d-flex justify-content-end"><strong class="text-danger p-1" th:text="'总计:'+${total}">12345</strong>
    </div>
    <table class="table  table-hover table-bordered  ">
        <thead class="thead-dark ">
        <tr>
            <th>日期</th>
            <th>商品</th>
            <th>金额</th>
            <th>方式</th>
            <th>备注</th>
        </tr>
        </thead>
        <tbody>
        <th:block th:each="fund:${fundList}">
            <tr>
                <td th:text="${#dates.format(fund.getDate(),'yyyy-MM-dd')}">2019-12-29</td>
                <td th:text="${fund.getProduct()}">奶粉</td>
                <td th:text="${fund.getMoney()}">100.09</td>
                <td th:text="${fund.getWay()}">支付宝</td>
                <td th:text="${fund.getReference()}">YY的二段奶粉</td>
            </tr>
        </th:block>
        </tbody>
    </table>

</div>
</body>
</html>