<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="layout::head"/>
    <title>Title</title>
    <script src="/js/moment.js"></script>
    <link rel="stylesheet" href="/css/tempusdominus-bootstrap-4.min.css"/>
    <script src="/js/tempusdominus-bootstrap-4.min.js"></script>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-6">
            <div class="input-group">
                <div class="input-group-prepend">
                    <label class="input-group-text" for="date">日期:</label>
                </div>
                <input type="text" class="form-control datetimepicker-input" id="consumer_date" data-toggle="datetimepicker"
                       data-target="#date" name="date"/>
            </div>
            <div class="input-group">
                <div class="input-group-prepend">
                    <label for="money" class="input-group-text">金额:</label>
                </div>
                <input class="form-control" type="number" step="0.01" name="money" id="consumer_money"/>
                <div class="input-group-append">
                    <label for="money" class="input-group-text">元</label>
                </div>
            </div>
            <div class="input-group">
                <div class="input-group-prepend">
                    <label for="product" class="input-group-text">商品:</label>
                </div>
                <input class="form-control" name="product" id="consumer_product"/>
            </div>
            <div class="input-group">
                <div class="input-group-prepend">
                    <label for="way-way" class="input-group-text">支付:</label>
                </div>
                <select class="form-control"  name="way">
                    <option>支付宝</option>
                    <option>微信</option>
                    <option>现金</option>
                    <option>银行卡</option>
                </select>
            </div>
            <div class="input-group">
                <div class="input-group-prepend">
                    <label for="reference" class="input-group-text">备注:</label>
                </div>
                <textarea name="reference" class="form-control" id="consumer_reference"></textarea>
            </div>
            <div class="form-group">
                <button class="btn btn-primary" id="consumer_submit">保存</button>
            </div>

        </div>
        <div class="col-6">
            <div class="input-group">
                <div class="input-group-prepend">
                    <label class="input-group-text" for="date">日期:</label>
                </div>
                <input type="text" class="form-control datetimepicker-input" id="date" data-toggle="datetimepicker"
                       data-target="#date" name="date"/>
            </div>
            <div class="input-group">
                <div class="input-group-prepend">
                    <label for="money" class="input-group-text">金额:</label>
                </div>
                <input class="form-control" type="number" step="0.01" name="money" id="money"/>
                <div class="input-group-append">
                    <label for="money" class="input-group-text">元</label>
                </div>
            </div>
            <div class="input-group">
                <div class="input-group-prepend">
                    <label for="product" class="input-group-text">商品:</label>
                </div>
                <input class="form-control" name="product" id="product"/>
            </div>
            <div class="input-group">
                <div class="input-group-prepend">
                    <label for="way-way" class="input-group-text">支付:</label>
                </div>
                <select class="form-control" id="way-way" name="way">
                    <option>支付宝</option>
                    <option>微信</option>
                    <option>现金</option>
                    <option>银行卡</option>
                </select>
            </div>
            <div class="input-group">
                <div class="input-group-prepend">
                    <label for="reference" class="input-group-text">备注:</label>
                </div>
                <textarea name="reference" class="form-control" id="reference"></textarea>
            </div>
            <div class="form-group">
                <button class="btn btn-primary" id="submit">保存</button>
            </div>

        </div>
    </div>
</div>
<script type="text/javascript">
    $(function () {
        $('#date').datetimepicker({
            locale: 'zh-cn',
            format: 'YYYY-MM-DD'
        });
    });

    function showInfo(info) {
        var infoDiv = "<div class=\"alert alert-warning alert-dismissible fade show  \" style=\"position:absolute;width: 100%; z-index:9999;\" id=\"alert\">\n" +
            "<button type=\"button\" class=\"close\" data-dismiss=\"alert\">&times;</button>\n" +
            "<strong id=\"alert-msg\">次要的!显示一些不重要的信息。</strong>\n" +
            "</div>";
        $("body").prepend(infoDiv);
        $("#alert-msg").text(info);
        // $("#alert").addClass("d-block");
        setTimeout(function () {
            $("#alert").remove();
        }, 2000);
    }

    function upload(d) {
        $.ajax({
            type: "post",
            url: "/funds/save",
            dataType: "json",
            data: d,
            success: function (data) {
                showInfo("保存OK,跳转...");
                setTimeout(function () {
                    window.location.replace("/funds/current")
                }, 1500);
            },
            error: function (msg) {
                alert(msg)
            }
        })
    }

    $("#submit").on("click", function () {
        var canUp = true;
        var d = {};
        $("input,select,textarea").each(function (index, e) {
            if (!e.value.trim()) {
                canUp = false;
                showInfo(e.name + "不能为空");
                return false;
            } else {
                d[e.name] = e.value;
            }
        });
        if (canUp) {
            upload(d);
            return true;
        }
        return false;
    })
</script>
</body>
</html>