<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" layout:decorate="layout/layout.html"
      xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
    <title>档案</title>
    <style>
        a.read-more {
            float: right;
            margin-right: 2rem;
        }
    </style>
</head>
<body class="container">

<main class="row" layout:fragment="content">
    <div class="col-sm-9">
        <h2 >2018</h2>
        <ul class="list-group">
        <li class="list-group-item" th:each="art:${articleList}">
                <div class="post-info" th:text="${art.getCreateTimestamp()}">Mar 19, 2018</div>
                <a href="" class="post-title-link" th:text="${art.getTitle()}"
                   th:href="@{/archive/{id}(id=${art.getId()})}">Pure Writer
                    3.0 - Never Lost Content Editor</a>
                <div class="read-more" style="float: right" id="delete" th:value="${art.getId()}"> 删除</div>
                <a href="" class="read-more" th:href="@{/markdown/{id}(id=${art.getId()})}"> 编辑 </a>
        </li>

        </ul>
    </div>
</main>
<script>
    $("#delete").click(function () {
        alert(this.attr("value"));
        // $.ajax({
        //     type: "post",
        //     url: "article/delete",
        //     data:{"id":$("#delete").valueOf()},
        //     success: function (data) {
        //         window.location.reload();
        //     }
        // })
    });
</script>
</body>
</html>