<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <title>档案</title>
    <script>
        function clickDelete(id) {
            fetch("/article/delete/" + id).then(function (response) {
                if (response.status === 200) {
                    location.reload();
                }
            });
        }
        function clickEditor(id) {
            location.replace("/editor")
        }
    </script>
</head>
<body class="container">

<main class="row" >
    <div class="col-sm-9">
        <h2>2018</h2>
        <ul class="list-group">
            <li class="list-group-item " th:each="art:${articleList}">
                <div class="pl-2 row" th:text="${#dates.format(art.getCreateTimestamp())}">Mar 19, 2018</div>
                <div class="row">
                    <h4 class="col-10"><a  th:href="@{/archive/{id}(id=${art.getId()})}" th:text="${art.getTitle()}">
                        标题</a></h4>
                    <a class="col-1 text-primary" th:href="@{/markdown/{id}(id=${art.getId()})}"> 编辑 </a>
                    <a class="col-1 text-secondary" href="#" th:onclick="'javascript:clickDelete('+${art.getId()}+')'"> 删除</a>
                </div>
            </li>

        </ul>
    </div>
</main>

</body>
</html>