<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorate="layout/layout.html">
<head>
    <title th:text="${article.getTitle()}">档案</title>
    <link rel="stylesheet" href="/css/markdown-style.css"/>
    <!--<script src="/js/showdown.js"></script>-->
</head>
<body class="container">
<main class="row" layout:fragment="content">
    <div  class="col-sm-9 ">
        <div class="card">
        <article class="markdown-body card-body">
            <h3 th:text="${article.getTitle()}">浅谈 Android 编程思想和架构</h3>
            <div th:text="${article.getUpdateTimestamp()}">Mar 11, 2016</div>
            <div id="markdown-content" th:utext="${article.getContent()}">this is html</div>
        </article>
        </div>
    </div>
    <!--<script th:inline="javascript">-->
        <!--var content = [[${article.getContent()}]]-->
        <!--var contentDiv = document.getElementById("markdown-content");-->
        <!--var converter = new showdown.Converter();-->
        <!--contentDiv.innerHTML = converter.makeHtml(content)-->
    <!--</script>-->
</main>
</body>
</html>