<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <title th:text="${article.getTitle()}">档案</title>
    <link rel="stylesheet" href="/css/markdown-style.css"/>
    <th:block th:include="/layout::head"/>
</head>
<body >
<nav th:replace="layout::nav"></nav>
<main class="container-fluid row" >
    <div class="col-2"></div>
    <div  class="col-sm-9 ">
        <div class="card">
        <article class="markdown-body card-body">
            <h3 th:text="${article.getTitle()}">浅谈 Android 编程思想和架构</h3>
            <div th:text="${#dates.format(article.getUpdateTimestamp())}">Mar 11, 2016</div>
            <div id="markdown-content" th:utext="${article.getContent()}">this is html</div>
        </article>
        </div>
    </div>
</main>
<footer th:replace="layout::footer"></footer>
</body>
</html>