<!DOCTYPE html>
<html lang="zh">
<head>
    <link rel="stylesheet" href="/css/apollo.css"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>后台管理</title>
</head>
<body>
<div class="wrap">
    <header th:replace="header::header">this is title</header>
    <main class="container">
        <p><a href="/archives">文档仓库</a></p>
        <p><a href="/markdown">新建文档</a> </p>
        <form method="POST" enctype="multipart/form-data" action="/upload">
            多文件上传：<input type="file" name="files" multiple/><input type="submit" value="上传"/>
        </form>
    </main>
    <footer th:replace="footer::footer">this is footer</footer>
</div>
</body>

</html>