<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="/layout::head"/>
    <title>Markdown编辑器</title>
    <script src="/js/showdown.js"></script>
    <link rel="stylesheet" href="/css/md/style.css"/>
    <link rel="stylesheet" href="/css/md/editormd.css"/>
</head>
<body class="container-fluid">
<nav th:replace="/layout::nav"></nav>
<div id="layout">
    <div id="test-editormd">
        <textarea style="display:none;"></textarea>
    </div>
</div>
<script src="/js/jquery.min.js"></script>
<script src="/js/md/editormd.min.js"></script>
<script type="text/javascript">
    var testEditor;
    $(function () {
        testEditor = editormd("test-editormd", {
            width: "90%",
            height: 800,
            syncScrolling: "single",
            path: "/js/md/lib/"
        });
    });
</script>
<footer th:include="/layout::footer"></footer>
</body>
</html>