<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorate="~{layout/layout.html}">
<head>
    <meta charset="UTF-8">
    <title>Markdown编辑器</title>
    <script src="/js/showdown.js"></script>
    <link rel="stylesheet" href="/css/md/style.css"/>
    <link rel="stylesheet" href="/css/md/editormd.css"/>
</head>
<body class="container-fluid">
<main layout:fragment="content">
<div id="layout">
    <div id="test-editormd">
        <textarea style="display:none;"></textarea>
    </div>
</div>
<script src="/js/jquery.min.js"></script>
<script src="/js/md/editormd.min.js"></script>
<script type="text/javascript">
    var testEditor;
    $(function () {
        testEditor = editormd("test-editormd", {
            width: "90%",
            height: 800,
            syncScrolling: "single",
            path: "/js/md/lib/"
        });
    });
</script>

</main>
</body>
</html>