<!DOCTYPE html>
<html lang="zh"  >
<head >
    <title>首页</title>

</head>
<body >
<nav ></nav>
<main class="container-fluid row"  >
    <aside class="col-2">

    </aside>
    <div class="col-7">
        hello world
    </div>
    <aside class="col-3  ">
        <p><img class="rounded-circle img-fluid mx-auto" src="/static/img/zxq.jpg"/></p>
        <h4>关于我...</h4>
        <p>本人太丑...<br>
            头像是老婆...<br>
            作为程序员，最值得夸赞的成就是取到现在的老婆</p>
        <h4>一些链接</h4>
        <p><a href="https://guides.github.com/features/mastering-markdown/">GitHub Flavored Markdown</a></p>
        <h4>开源库</h4>
        <ul class="list-unstyled">
            <li>showdown.js</li>
            <li>bootstrap4</li>
            <li>jquery</li>
        </ul>
    </aside>
</main>

</body>
</html>