<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head >
    <th:block th:include="/layout::head" />
    <style>
        footer {
            flex: 0 0 auto;
            position: absolute;
            bottom: 0;
            width: 50%;
        }
    </style>
    <script>
        function login() {
            var name = $("#name").val();
            var password = $("#pwd").val();
            $.post(
                "/user/login",
                {"name": name, "pwd": password},
                function (data) {
                    $('#myModal').modal("show");
                    $("#dialog_content").text(data);
                    if (data === 1) {
                        window.location.href = "/"
                    } else {
                    }
                }
            )
        }
    </script>
</head>
<body >
<nav th:replace="/layout::nav"></nav>
<main class="container-fluid">
    <form action="/login" method="post" >
        <div class="row">
            <div class=" form-group col-sm-4">
                <label for="username">账户： </label><input type="text" id="username" name="username" class="form-control"/>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-sm-4">
                <label for="password"> 密码：</label> <input type="password" id="password" name="password" class="form-control"/>
            </div>
        </div>
        <div >
            <button class="btn btn-primary" type="submit">登陆</button>
        </div>
    </form>

    <div class="modal fade" id="myModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">登录结果</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body" id="dialog_content">
                    模态框内容..
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
                </div>
            </div>
        </div>
    </div>
</main>

</body>
</html>