<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MarkdownParse</title>
    <link rel="stylesheet" href="markdown-style.css"/>
    <script src="marked.min.js"></script>
</head>
<body>
<article  id="markdown" style="width: 100%;height: 100%;word-break:break-all"></article>
<script type="text/javascript">
    function parseMarkdown(content) {
        content.content
        marked.setOptions({
            renderer: new marked.Renderer(),
            gfm: false,
            tables: true,
            breaks: false,
            pedantic: false,
            sanitize: true,
            smartLists: true,
            smartypants: false
        });
        document.getElementById('markdown').innerHTML = marked(content);
    }

</script>
</body>
</html>