<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.1.0/css/bootstrap.min.css">
        <script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://cdn.staticfile.org/popper.js/1.12.5/umd/popper.min.js"></script>
        <script src="https://cdn.staticfile.org/twitter-bootstrap/4.1.0/js/bootstrap.min.js"></script>
        <title>首页</title>
        <!--<link rel="stylesheet" href="/css/apollo.css"/>-->

    </head>
    <body class="container">
        <header>
            <nav class="navbar navbar-expand-sm bg-light">
                <ul class="nav nav-pills nav-justified">
                    <li class="nav-item">
                        <a class="nav-link" href="/">首页</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/archives">文档</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/chat">交流</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/resume">简历</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://github.com/pompip">Github</a>
                    </li>
                </ul>
            </nav>
        </header>
        <main layout:fragment="content"></main>
        <footer >
            <div class="copyright">
                <p>CopyRight &#169;<a href="https://github.com/pompip" target="_blank">pompip</a>. Some Rights Reserved
                    <a href="http://www.miitbeian.gov.cn/" target="view_window">鄂ICP备16020692号</a>
                </p>
            </div>
        </footer>
    </body>
</html>