<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.pompip.myblog.mapper.ArticleMapper">
    <resultMap id="ArticleWithAuthor" type="cn.pompip.myblog.entity.ArticleEntity">
        <id column="id" property="id" javaType="long"/>
        <result column="title" property="title"/>
        <result column="content" property="content"/>
        <result column="update_timestamp" property="updateTimestamp" />
        <result column="create_timestamp" property="createTimestamp" />
        <association property="authorEntity" javaType="cn.pompip.myblog.entity.AuthorEntity" >
            <id column="author_id" property="id"/>
            <result column="name" property="name"/>
        </association>
        <association property="categoryEntity" javaType="cn.pompip.myblog.entity.CategoryEntity">
            <id column="category_id" property="id"/>
            <result property="name" column="cname"/>
            <result property="createTimestamp" column="c_create_timestamp"/>
        </association>
    </resultMap>

    <select id="findArticleWithAuthorById" resultMap="ArticleWithAuthor" parameterType="long">
        select a.*,b.name,c.name as cname, c.create_timestamp as c_create_timestamp
        from article_entity a
        left join author_entity b on a.author_id = b.id
            left join category_entity c on a.category_id = c.id
        where a.id =#{id};
    </select>
</mapper>