<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.pompip.myblog.mapper.AuthorMapper">
    <select id="findAuthorById" parameterType="long" resultType="cn.pompip.myblog.entity.AuthorEntity">
        select *
        from author_entity
        where id = #{id}
    </select>

    <insert id="insertAuthor">
        insert into author_entity (name) values (#{name});
        <selectKey order="AFTER" resultType="long">
            select last_insert_id();
        </selectKey>
    </insert>

    <update id="updateAuthor">
        update author_entity
        set name = #{arg0}
        where id = #{arg1};
    </update>
    <delete id="deleteAuthor" parameterType="long">
        delete from author_entity
        where id = #{id}
    </delete>
    <resultMap id="AuthorWithArticle" type="cn.pompip.myblog.entity.AuthorEntity">
        <id property="id" column="aid"/>
        <result property="name" column="name"/>
        <collection property="articleEntityList" ofType="cn.pompip.myblog.entity.ArticleEntity">
            <id property="id" column="cid"/>
            <result property="title" column="title"/>
        </collection>
    </resultMap>
    <select id="findAuthorWithArticle" resultMap="AuthorWithArticle">
        select author.id as aid ,author.name,article.id as cid,title,content,create_timestamp,update_timestamp
        from author_entity author
            inner join article_entity article
                on author.id = article.author_id
        where author.id=#{id};
    </select>

</mapper>