<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.pompip.myblog.mapper.CategoryMapper">
    <resultMap id="categoryEntity"  type="cn.pompip.myblog.entity.CategoryEntity">
        <result column="create_timestamp" property="createTimestamp"/>
    </resultMap>
    <select id="findAllCategory" resultMap="categoryEntity">
        select *
        from category_entity
        order by create_timestamp DESC
    </select>
</mapper>