<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title th:text="${article.getTitle()}">档案</title>
    <link rel="stylesheet" href="/css/apollo.css"/>
    <script src="/js/showdown.js"></script>
</head>
<body>
    <header th:replace="header::header">

    </header>
    <main class="container">

        <div class="post">
            <article class="post-block">
                <h1 class="post-title" th:text="${article.getTitle()}">浅谈 Android 编程思想和架构</h1>
                <div class="post-info" th:text="${article.getUpdateTimestamp()}">Mar 11, 2016</div>
                <div id="markdown-content" class="post-content">this is html</div>
            </article>
        </div>
    </main>
    <footer th:replace="footer::footer">

    </footer>

<script th:inline="javascript">
    var content = [[${article.getContent()}]]
    var contentDiv = document.getElementById("markdown-content");
    var converter = new showdown.Converter();
    contentDiv.innerHTML = converter.makeHtml(content)
</script>
</body>
</html>