<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>登录</title>
    <script type="text/javascript" src="/js/jquery.min.js"></script>
    <link rel="stylesheet" href="/css/apollo.css">
    <style>
        footer {
            flex: 0 0 auto;
            position: absolute;
            bottom: 0;
            width: 50%;
        }
    </style>
    <script>
        function login() {
            var name = $("#name").val();
            var password = $("#pwd").val();
            $.post(
                "/user/login",
                {"name": name, "pwd": password},
                function (data) {
                    alert(data);
                    if (data === 1) {
                        window.location.href = "/"
                    } else {

                    }
                }
            )
        }

        function logout() {
            $.post("/user/logout", function (data) {
                if (data === 1) {
                    alert("logout")
                }
            })
        }
    </script>
</head>
<body>
<header th:replace="header::header"></header>
<div id="loginform" style="text-align: center">
    <div>
        账户： <input type="text" name="name" id="name"/>
    </div>
    <div>
        密码： <input type="password" name="password" id="pwd"/>
    </div>
    <button onclick="login()">登陆</button>
    <button>注册</button>
    <button onclick="logout()">注销</button>

</div>
<footer th:replace="footer::footer"></footer>
</body>
</html>