<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Markdown 编辑器</title>
    <link rel="stylesheet" href="/css/apollo.css"/>
    <script src="/js/marked.min.js"></script>
    <link href="http://vjs.zencdn.net/5.20.1/video-js.css" rel="stylesheet">
    <script src="http://vjs.zencdn.net/5.20.1/videojs-ie8.min.js"></script>
    <style>
        textarea {
            width: 20rem;
            height: 40rem;
            float: left;
            resize: none;
        }

        div #preview {
            width: 20rem;
            height: 40rem;
            float: right;
            border-style: outset
        }
    </style>
</head>
<body>
<div class="wrap">
    <header th:replace="header::header"></header>
    <main>
        <div class="container">
            <textarea contenteditable="true" id="text-input" oninput="this.editor.update()">
                    Type **Markdown** here.</textarea>
            <div class="post-content" id="preview"></div>
        </div>
        <video src="rtmp://121.40.153.99:51935/d4/livestream">

        </video>
        <video id="example_video_1" class="video-js vjs-default-skin" controls preload="auto" width="1280" height="720" poster="http://vjs.zencdn.net/v/oceans.png" data-setup="{}">
            <!-- <source src="1.mp4" type="video/mp4"> -->
            <source src="http://live.hkstv.hk.lxdns.com/live/hks/playlist.m3u8" type="rtmp/flv">

            <p class="vjs-no-js">To view this video please enable JavaScript, and consider upgrading to a web browser that <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a></p>
        </video>

        <script src="http://vjs.zencdn.net/5.20.1/video.js"></script>
    </main>
    <footer th:replace="footer::footer" ></footer>
</div>

<script>
    function Editor(input, preview) {
        this.update = function () {
            preview.innerHTML = marked(input.value);
        };
        input.editor = this;
        this.update();
    }

    var $ = function (id) {
        return document.getElementById(id);
    };
    new Editor($("text-input"), $("preview"));
</script>
</body>
</html>